body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.input_antrian {
  text-align: center;
}

.input_antrian label {
  display: block;
  font-size: 1.2em;
  font-weight: 500;
}

.input_antrian input {
  width: 150px;
}
